gateways/floor-10/flows.json
[
  {
    "id": "fdea40977ebc4747",
    "type": "tab",
    "label": "Floor 10 Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d4a491119e9a4e6f",
    "type": "mqtt-broker",
    "name": "HiveMQ-f10",
    "broker": "hivemq",
    "port": "1883",
    "clientid": "nodered-gw-f10",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "credentials": {
      "user": "campus_observer",
      "password": "_uMOhpPMnOzCEZUpd_lIAtnZ2pYuOHDh"
    }
  },
  {
    "id": "14b1639cbc30405b",
    "type": "mqtt-broker",
    "name": "ThingsBoard-gw-f10",
    "broker": "thingsboard",
    "port": "1883",
    "clientid": "tb-gw-f10",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "credentials": {
      "user": "th5aSE8mrNEmAjlX8fnK",
      "password": ""
    }
  },
  {
    "id": "e3140e6740fc49b1",
    "type": "mqtt in",
    "name": "HiveMQ f10",
    "topic": "campus/b01/f10/#",
    "qos": "0",
    "datatype": "auto",
    "broker": "d4a491119e9a4e6f",
    "x": 120,
    "y": 100,
    "z": "fdea40977ebc4747",
    "wires": [
      [
        "b0aa39b722b54ea5"
      ]
    ]
  },
  {
    "id": "b0aa39b722b54ea5",
    "type": "function",
    "name": "Format \u2192 TB Gateway",
    "func": "// topic: campus/b01/f10/rNNN/telemetry|heartbeat|lwt\nvar parts = msg.topic.split('/');\n// parts: ['campus','b01','f10','rNNN','<type>']\nif (parts.length < 5) return null;\n\nvar roomNum     = parts[3];                                        // e.g. r109\nvar msgType     = parts[4];                                        // telemetry | heartbeat | lwt\nvar rawNum      = parseInt(roomNum.slice(1));                      // 109\nvar roomOnFloor = rawNum - 10 * 100;                         // 9\nvar roomStr     = 'r' + String(roomOnFloor).padStart(3, '0');     // \"r009\"\nvar device      = 'b01-f10-' + roomStr;                  // e.g. b01-f01-r009\n\nvar data;\ntry {\n    data = (typeof msg.payload === 'string') ? JSON.parse(msg.payload) : msg.payload;\n} catch(e) {\n    return null;\n}\n\nif (msgType === 'telemetry') {\n    // TB gateway telemetry format: { \"deviceName\": [{ \"ts\": ms, \"values\": {...} }] }\n    var ts = data.timestamp ? data.timestamp * 1000 : Date.now();\n    var values = {\n        temperature:      data.temperature,\n        humidity:         data.humidity,\n        occupancy:        data.occupancy,\n        light_level:      data.light_level,\n        hvac_mode:        data.hvac_mode,\n        lighting_dimmer:  data.lighting_dimmer,\n        target_temp:      data.target_temp,\n        fault:            data.fault\n    };\n    msg.payload = JSON.stringify({ [device]: [{ ts: ts, values: values }] });\n    msg.topic   = 'v1/gateway/telemetry';\n    msg.route   = 'telemetry';\n    return msg;\n}\n\nif (msgType === 'heartbeat') {\n    msg.payload = JSON.stringify({ [device]: { status: data.status || 'alive', last_seen: data.timestamp } });\n    msg.topic   = 'v1/gateway/attributes';\n    msg.route   = 'attr';\n    return msg;\n}\n\nif (msgType === 'lwt') {\n    msg.payload = JSON.stringify({ [device]: { status: 'offline' } });\n    msg.topic   = 'v1/gateway/attributes';\n    msg.route   = 'attr';\n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "x": 350,
    "y": 100,
    "z": "fdea40977ebc4747",
    "wires": [
      [
        "5bc3fa6e808f43cc",
        "2174b40e98054afa"
      ]
    ]
  },
  {
    "id": "5bc3fa6e808f43cc",
    "type": "mqtt out",
    "name": "TB Telemetry",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "14b1639cbc30405b",
    "x": 600,
    "y": 80,
    "z": "fdea40977ebc4747",
    "wires": []
  },
  {
    "id": "2174b40e98054afa",
    "type": "mqtt out",
    "name": "TB Attributes",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "14b1639cbc30405b",
    "x": 600,
    "y": 140,
    "z": "fdea40977ebc4747",
    "wires": []
  },
  {
    "id": "420beceb9fd7409d",
    "type": "tab",
    "label": "Floor 10 CoAP Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "add522697ffe4f68",
    "type": "inject",
    "name": "Start CoAP Observe",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 3,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 200,
    "z": "420beceb9fd7409d",
    "wires": [
      [
        "a646de34f1ba4bb3"
      ]
    ]
  },
  {
    "id": "a646de34f1ba4bb3",
    "type": "function",
    "name": "CoAP Observe f10 (rooms 011-020)",
    "func": "// CoAP Observe \u2192 ThingsBoard \u2014 Floor 10 (rooms 011-020)\n// Triggered once on startup; node.send() fires for every CoAP notification.\n// 'coap' is injected via the node's libs declaration (functionExternalModules: true).\n\nvar rooms = [\n    {pathname:'/f10/r1011/telemetry', device:'b01-f10-r011'},\n    {pathname:'/f10/r1012/telemetry', device:'b01-f10-r012'},\n    {pathname:'/f10/r1013/telemetry', device:'b01-f10-r013'},\n    {pathname:'/f10/r1014/telemetry', device:'b01-f10-r014'},\n    {pathname:'/f10/r1015/telemetry', device:'b01-f10-r015'},\n    {pathname:'/f10/r1016/telemetry', device:'b01-f10-r016'},\n    {pathname:'/f10/r1017/telemetry', device:'b01-f10-r017'},\n    {pathname:'/f10/r1018/telemetry', device:'b01-f10-r018'},\n    {pathname:'/f10/r1019/telemetry', device:'b01-f10-r019'},\n    {pathname:'/f10/r1020/telemetry', device:'b01-f10-r020'}\n];\n\nrooms.forEach(function(room) {\n    var req = coap.request({\n        hostname: 'simulator',\n        port: 5683,\n        pathname: room.pathname,\n        method: 'GET',\n        observe: true\n    });\n    req.on('response', function(res) {\n        res.on('data', function(data) {\n            try {\n                var d = JSON.parse(data.toString());\n                var ts = d.timestamp ? d.timestamp * 1000 : Date.now();\n                node.send({\n                    topic: 'v1/gateway/telemetry',\n                    payload: JSON.stringify({\n                        [room.device]: [{\n                            ts: ts,\n                            values: {\n                                temperature:     d.temperature,\n                                humidity:        d.humidity,\n                                occupancy:       d.occupancy,\n                                light_level:     d.light_level,\n                                hvac_mode:       d.hvac_mode,\n                                lighting_dimmer: d.lighting_dimmer,\n                                target_temp:     d.target_temp,\n                                fault:           d.fault\n                            }\n                        }]\n                    })\n                });\n            } catch(e) {}\n        });\n    });\n    req.on('error', function(e) {\n        node.error('CoAP ' + room.device + ': ' + e.message);\n    });\n    req.end();\n});\nreturn null;",
    "libs": [
      {
        "var": "coap",
        "module": "coap"
      }
    ],
    "outputs": 1,
    "x": 380,
    "y": 200,
    "z": "420beceb9fd7409d",
    "wires": [
      [
        "69d787bbf4cd4e18"
      ]
    ]
  },
  {
    "id": "69d787bbf4cd4e18",
    "type": "mqtt out",
    "name": "TB Telemetry (CoAP)",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "14b1639cbc30405b",
    "x": 620,
    "y": 200,
    "z": "420beceb9fd7409d",
    "wires": []
  }
]