gateways/floor-06/flows.json
[
  {
    "id": "8e430b90b7eb4743",
    "type": "tab",
    "label": "Floor 06 Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "65bcd30911ca4b2d",
    "type": "mqtt-broker",
    "name": "HiveMQ-f06",
    "broker": "hivemq",
    "port": "1883",
    "clientid": "nodered-gw-f06",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "credentials": {
      "user": "campus_observer",
      "password": "_uMOhpPMnOzCEZUpd_lIAtnZ2pYuOHDh"
    }
  },
  {
    "id": "2c05522f9c3e4a3e",
    "type": "mqtt-broker",
    "name": "ThingsBoard-gw-f06",
    "broker": "thingsboard",
    "port": "1883",
    "clientid": "tb-gw-f06",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "credentials": {
      "user": "QM2I20CXVZC8a5aurIdf",
      "password": ""
    }
  },
  {
    "id": "47b349823b174d1d",
    "type": "mqtt in",
    "name": "HiveMQ f06",
    "topic": "campus/b01/f06/#",
    "qos": "0",
    "datatype": "auto",
    "broker": "65bcd30911ca4b2d",
    "x": 120,
    "y": 100,
    "z": "8e430b90b7eb4743",
    "wires": [
      [
        "73cc5834417b4d49"
      ]
    ]
  },
  {
    "id": "73cc5834417b4d49",
    "type": "function",
    "name": "Format \u2192 TB Gateway",
    "func": "// topic: campus/b01/f06/rNNN/telemetry|heartbeat|lwt\nvar parts = msg.topic.split('/');\n// parts: ['campus','b01','f06','rNNN','<type>']\nif (parts.length < 5) return null;\n\nvar roomNum     = parts[3];                                        // e.g. r109\nvar msgType     = parts[4];                                        // telemetry | heartbeat | lwt\nvar rawNum      = parseInt(roomNum.slice(1));                      // 109\nvar roomOnFloor = rawNum - 6 * 100;                         // 9\nvar roomStr     = 'r' + String(roomOnFloor).padStart(3, '0');     // \"r009\"\nvar device      = 'b01-f06-' + roomStr;                  // e.g. b01-f01-r009\n\nvar data;\ntry {\n    data = (typeof msg.payload === 'string') ? JSON.parse(msg.payload) : msg.payload;\n} catch(e) {\n    return null;\n}\n\nif (msgType === 'telemetry') {\n    // TB gateway telemetry format: { \"deviceName\": [{ \"ts\": ms, \"values\": {...} }] }\n    var ts = data.timestamp ? data.timestamp * 1000 : Date.now();\n    var values = {\n        temperature:      data.temperature,\n        humidity:         data.humidity,\n        occupancy:        data.occupancy,\n        light_level:      data.light_level,\n        hvac_mode:        data.hvac_mode,\n        lighting_dimmer:  data.lighting_dimmer,\n        target_temp:      data.target_temp,\n        fault:            data.fault\n    };\n    msg.payload = JSON.stringify({ [device]: [{ ts: ts, values: values }] });\n    msg.topic   = 'v1/gateway/telemetry';\n    msg.route   = 'telemetry';\n    return msg;\n}\n\nif (msgType === 'heartbeat') {\n    msg.payload = JSON.stringify({ [device]: { status: data.status || 'alive', last_seen: data.timestamp } });\n    msg.topic   = 'v1/gateway/attributes';\n    msg.route   = 'attr';\n    return msg;\n}\n\nif (msgType === 'lwt') {\n    msg.payload = JSON.stringify({ [device]: { status: 'offline' } });\n    msg.topic   = 'v1/gateway/attributes';\n    msg.route   = 'attr';\n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "x": 350,
    "y": 100,
    "z": "8e430b90b7eb4743",
    "wires": [
      [
        "e5e18ee9f9cd4333",
        "9c9a9a68827a4ef4"
      ]
    ]
  },
  {
    "id": "e5e18ee9f9cd4333",
    "type": "mqtt out",
    "name": "TB Telemetry",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "2c05522f9c3e4a3e",
    "x": 600,
    "y": 80,
    "z": "8e430b90b7eb4743",
    "wires": []
  },
  {
    "id": "9c9a9a68827a4ef4",
    "type": "mqtt out",
    "name": "TB Attributes",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "2c05522f9c3e4a3e",
    "x": 600,
    "y": 140,
    "z": "8e430b90b7eb4743",
    "wires": []
  },
  {
    "id": "8e6405334cbe4c67",
    "type": "tab",
    "label": "Floor 06 CoAP Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "537fd3ac6fbe446d",
    "type": "inject",
    "name": "Start CoAP Observe",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 3,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 200,
    "z": "8e6405334cbe4c67",
    "wires": [
      [
        "cd2dc25329fc4e70"
      ]
    ]
  },
  {
    "id": "cd2dc25329fc4e70",
    "type": "function",
    "name": "CoAP Observe f06 (rooms 011-020)",
    "func": "// CoAP Observe \u2192 ThingsBoard \u2014 Floor 06 (rooms 011-020)\n// Triggered once on startup; node.send() fires for every CoAP notification.\n// 'coap' is injected via the node's libs declaration (functionExternalModules: true).\n\nvar rooms = [\n    {pathname:'/f06/r611/telemetry', device:'b01-f06-r011'},\n    {pathname:'/f06/r612/telemetry', device:'b01-f06-r012'},\n    {pathname:'/f06/r613/telemetry', device:'b01-f06-r013'},\n    {pathname:'/f06/r614/telemetry', device:'b01-f06-r014'},\n    {pathname:'/f06/r615/telemetry', device:'b01-f06-r015'},\n    {pathname:'/f06/r616/telemetry', device:'b01-f06-r016'},\n    {pathname:'/f06/r617/telemetry', device:'b01-f06-r017'},\n    {pathname:'/f06/r618/telemetry', device:'b01-f06-r018'},\n    {pathname:'/f06/r619/telemetry', device:'b01-f06-r019'},\n    {pathname:'/f06/r620/telemetry', device:'b01-f06-r020'}\n];\n\nrooms.forEach(function(room) {\n    var req = coap.request({\n        hostname: 'simulator',\n        port: 5683,\n        pathname: room.pathname,\n        method: 'GET',\n        observe: true\n    });\n    req.on('response', function(res) {\n        res.on('data', function(data) {\n            try {\n                var d = JSON.parse(data.toString());\n                var ts = d.timestamp ? d.timestamp * 1000 : Date.now();\n                node.send({\n                    topic: 'v1/gateway/telemetry',\n                    payload: JSON.stringify({\n                        [room.device]: [{\n                            ts: ts,\n                            values: {\n                                temperature:     d.temperature,\n                                humidity:        d.humidity,\n                                occupancy:       d.occupancy,\n                                light_level:     d.light_level,\n                                hvac_mode:       d.hvac_mode,\n                                lighting_dimmer: d.lighting_dimmer,\n                                target_temp:     d.target_temp,\n                                fault:           d.fault\n                            }\n                        }]\n                    })\n                });\n            } catch(e) {}\n        });\n    });\n    req.on('error', function(e) {\n        node.error('CoAP ' + room.device + ': ' + e.message);\n    });\n    req.end();\n});\nreturn null;",
    "libs": [
      {
        "var": "coap",
        "module": "coap"
      }
    ],
    "outputs": 1,
    "x": 380,
    "y": 200,
    "z": "8e6405334cbe4c67",
    "wires": [
      [
        "57e5623430524631"
      ]
    ]
  },
  {
    "id": "57e5623430524631",
    "type": "mqtt out",
    "name": "TB Telemetry (CoAP)",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "2c05522f9c3e4a3e",
    "x": 620,
    "y": 200,
    "z": "8e6405334cbe4c67",
    "wires": []
  }
]