gateways/floor-08/flows.json
[
  {
    "id": "2f0ad6afd46c425d",
    "type": "tab",
    "label": "Floor 08 Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "922db3fbc8f24e30",
    "type": "mqtt-broker",
    "name": "HiveMQ-f08",
    "broker": "hivemq",
    "port": "1883",
    "clientid": "nodered-gw-f08",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "credentials": {
      "user": "campus_observer",
      "password": "_uMOhpPMnOzCEZUpd_lIAtnZ2pYuOHDh"
    }
  },
  {
    "id": "bda248fe0d584391",
    "type": "mqtt-broker",
    "name": "ThingsBoard-gw-f08",
    "broker": "thingsboard",
    "port": "1883",
    "clientid": "tb-gw-f08",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "credentials": {
      "user": "7eZN2U8OJIPYdsEr8imR",
      "password": ""
    }
  },
  {
    "id": "3315f50302684a98",
    "type": "mqtt in",
    "name": "HiveMQ f08",
    "topic": "campus/b01/f08/#",
    "qos": "0",
    "datatype": "auto",
    "broker": "922db3fbc8f24e30",
    "x": 120,
    "y": 100,
    "z": "2f0ad6afd46c425d",
    "wires": [
      [
        "b48d9f5b4eb546c7"
      ]
    ]
  },
  {
    "id": "b48d9f5b4eb546c7",
    "type": "function",
    "name": "Format \u2192 TB Gateway",
    "func": "// topic: campus/b01/f08/rNNN/telemetry|heartbeat|lwt\nvar parts = msg.topic.split('/');\n// parts: ['campus','b01','f08','rNNN','<type>']\nif (parts.length < 5) return null;\n\nvar roomNum     = parts[3];                                        // e.g. r109\nvar msgType     = parts[4];                                        // telemetry | heartbeat | lwt\nvar rawNum      = parseInt(roomNum.slice(1));                      // 109\nvar roomOnFloor = rawNum - 8 * 100;                         // 9\nvar roomStr     = 'r' + String(roomOnFloor).padStart(3, '0');     // \"r009\"\nvar device      = 'b01-f08-' + roomStr;                  // e.g. b01-f01-r009\n\nvar data;\ntry {\n    data = (typeof msg.payload === 'string') ? JSON.parse(msg.payload) : msg.payload;\n} catch(e) {\n    return null;\n}\n\nif (msgType === 'telemetry') {\n    // TB gateway telemetry format: { \"deviceName\": [{ \"ts\": ms, \"values\": {...} }] }\n    var ts = data.timestamp ? data.timestamp * 1000 : Date.now();\n    var values = {\n        temperature:      data.temperature,\n        humidity:         data.humidity,\n        occupancy:        data.occupancy,\n        light_level:      data.light_level,\n        hvac_mode:        data.hvac_mode,\n        lighting_dimmer:  data.lighting_dimmer,\n        target_temp:      data.target_temp,\n        fault:            data.fault\n    };\n    msg.payload = JSON.stringify({ [device]: [{ ts: ts, values: values }] });\n    msg.topic   = 'v1/gateway/telemetry';\n    msg.route   = 'telemetry';\n    return msg;\n}\n\nif (msgType === 'heartbeat') {\n    msg.payload = JSON.stringify({ [device]: { status: data.status || 'alive', last_seen: data.timestamp } });\n    msg.topic   = 'v1/gateway/attributes';\n    msg.route   = 'attr';\n    return msg;\n}\n\nif (msgType === 'lwt') {\n    msg.payload = JSON.stringify({ [device]: { status: 'offline' } });\n    msg.topic   = 'v1/gateway/attributes';\n    msg.route   = 'attr';\n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "x": 350,
    "y": 100,
    "z": "2f0ad6afd46c425d",
    "wires": [
      [
        "ba157fe421be48ed",
        "e0e6b5b0d42740a0"
      ]
    ]
  },
  {
    "id": "ba157fe421be48ed",
    "type": "mqtt out",
    "name": "TB Telemetry",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "bda248fe0d584391",
    "x": 600,
    "y": 80,
    "z": "2f0ad6afd46c425d",
    "wires": []
  },
  {
    "id": "e0e6b5b0d42740a0",
    "type": "mqtt out",
    "name": "TB Attributes",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "bda248fe0d584391",
    "x": 600,
    "y": 140,
    "z": "2f0ad6afd46c425d",
    "wires": []
  },
  {
    "id": "3ff1913ed4434725",
    "type": "tab",
    "label": "Floor 08 CoAP Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "0cea275fc17349de",
    "type": "inject",
    "name": "Start CoAP Observe",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 3,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 200,
    "z": "3ff1913ed4434725",
    "wires": [
      [
        "47625161f89a4988"
      ]
    ]
  },
  {
    "id": "47625161f89a4988",
    "type": "function",
    "name": "CoAP Observe f08 (rooms 011-020)",
    "func": "// CoAP Observe \u2192 ThingsBoard \u2014 Floor 08 (rooms 011-020)\n// Triggered once on startup; node.send() fires for every CoAP notification.\n// 'coap' is injected via the node's libs declaration (functionExternalModules: true).\n\nvar rooms = [\n    {pathname:'/f08/r811/telemetry', device:'b01-f08-r011'},\n    {pathname:'/f08/r812/telemetry', device:'b01-f08-r012'},\n    {pathname:'/f08/r813/telemetry', device:'b01-f08-r013'},\n    {pathname:'/f08/r814/telemetry', device:'b01-f08-r014'},\n    {pathname:'/f08/r815/telemetry', device:'b01-f08-r015'},\n    {pathname:'/f08/r816/telemetry', device:'b01-f08-r016'},\n    {pathname:'/f08/r817/telemetry', device:'b01-f08-r017'},\n    {pathname:'/f08/r818/telemetry', device:'b01-f08-r018'},\n    {pathname:'/f08/r819/telemetry', device:'b01-f08-r019'},\n    {pathname:'/f08/r820/telemetry', device:'b01-f08-r020'}\n];\n\nrooms.forEach(function(room) {\n    var req = coap.request({\n        hostname: 'simulator',\n        port: 5683,\n        pathname: room.pathname,\n        method: 'GET',\n        observe: true\n    });\n    req.on('response', function(res) {\n        res.on('data', function(data) {\n            try {\n                var d = JSON.parse(data.toString());\n                var ts = d.timestamp ? d.timestamp * 1000 : Date.now();\n                node.send({\n                    topic: 'v1/gateway/telemetry',\n                    payload: JSON.stringify({\n                        [room.device]: [{\n                            ts: ts,\n                            values: {\n                                temperature:     d.temperature,\n                                humidity:        d.humidity,\n                                occupancy:       d.occupancy,\n                                light_level:     d.light_level,\n                                hvac_mode:       d.hvac_mode,\n                                lighting_dimmer: d.lighting_dimmer,\n                                target_temp:     d.target_temp,\n                                fault:           d.fault\n                            }\n                        }]\n                    })\n                });\n            } catch(e) {}\n        });\n    });\n    req.on('error', function(e) {\n        node.error('CoAP ' + room.device + ': ' + e.message);\n    });\n    req.end();\n});\nreturn null;",
    "libs": [
      {
        "var": "coap",
        "module": "coap"
      }
    ],
    "outputs": 1,
    "x": 380,
    "y": 200,
    "z": "3ff1913ed4434725",
    "wires": [
      [
        "beea60f69d2c4982"
      ]
    ]
  },
  {
    "id": "beea60f69d2c4982",
    "type": "mqtt out",
    "name": "TB Telemetry (CoAP)",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "bda248fe0d584391",
    "x": 620,
    "y": 200,
    "z": "3ff1913ed4434725",
    "wires": []
  }
]