gateways/floor-01/.flows.json.backup
[
  {
    "id": "0ded13af05dc4c3e",
    "type": "tab",
    "label": "Floor 01 Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "65d6bdad06354c81",
    "type": "mqtt-broker",
    "name": "HiveMQ-f01",
    "broker": "hivemq",
    "port": "1883",
    "clientid": "nodered-gw-f01",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "credentials": {
      "user": "campus_observer",
      "password": "_uMOhpPMnOzCEZUpd_lIAtnZ2pYuOHDh"
    }
  },
  {
    "id": "22a9abe2c0e842fb",
    "type": "mqtt-broker",
    "name": "ThingsBoard-gw-f01",
    "broker": "thingsboard",
    "port": "1883",
    "clientid": "tb-gw-f01",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "credentials": {
      "user": "UBzsJoRdprP0pq5mRrVl",
      "password": ""
    }
  },
  {
    "id": "e0066b59697e4121",
    "type": "mqtt in",
    "name": "HiveMQ f01",
    "topic": "campus/b01/f01/#",
    "qos": "0",
    "datatype": "auto",
    "broker": "65d6bdad06354c81",
    "x": 120,
    "y": 100,
    "z": "0ded13af05dc4c3e",
    "wires": [
      [
        "e250c2aa4d4b4c77"
      ]
    ]
  },
  {
    "id": "e250c2aa4d4b4c77",
    "type": "function",
    "name": "Format \u2192 TB Gateway",
    "func": "// topic: campus/b01/f01/rNNN/telemetry|heartbeat|lwt\nvar parts = msg.topic.split('/');\n// parts: ['campus','b01','f01','rNNN','<type>']\nif (parts.length < 5) return null;\n\nvar roomNum     = parts[3];                                        // e.g. r109\nvar msgType     = parts[4];                                        // telemetry | heartbeat | lwt\nvar rawNum      = parseInt(roomNum.slice(1));                      // 109\nvar roomOnFloor = rawNum - 1 * 100;                         // 9\nvar roomStr     = 'r' + String(roomOnFloor).padStart(3, '0');     // \"r009\"\nvar device      = 'b01-f01-' + roomStr;                  // e.g. b01-f01-r009\n\nvar data;\ntry {\n    data = (typeof msg.payload === 'string') ? JSON.parse(msg.payload) : msg.payload;\n} catch(e) {\n    return null;\n}\n\nif (msgType === 'telemetry') {\n    // TB gateway telemetry format: { \"deviceName\": [{ \"ts\": ms, \"values\": {...} }] }\n    var ts = data.timestamp ? data.timestamp * 1000 : Date.now();\n    var values = {\n        temperature:      data.temperature,\n        humidity:         data.humidity,\n        occupancy:        data.occupancy,\n        light_level:      data.light_level,\n        hvac_mode:        data.hvac_mode,\n        lighting_dimmer:  data.lighting_dimmer,\n        target_temp:      data.target_temp,\n        fault:            data.fault\n    };\n    msg.payload = JSON.stringify({ [device]: [{ ts: ts, values: values }] });\n    msg.topic   = 'v1/gateway/telemetry';\n    msg.route   = 'telemetry';\n    return msg;\n}\n\nif (msgType === 'heartbeat') {\n    msg.payload = JSON.stringify({ [device]: { status: data.status || 'alive', last_seen: data.timestamp } });\n    msg.topic   = 'v1/gateway/attributes';\n    msg.route   = 'attr';\n    return msg;\n}\n\nif (msgType === 'lwt') {\n    msg.payload = JSON.stringify({ [device]: { status: 'offline' } });\n    msg.topic   = 'v1/gateway/attributes';\n    msg.route   = 'attr';\n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "x": 350,
    "y": 100,
    "z": "0ded13af05dc4c3e",
    "wires": [
      [
        "0b5cba5188254bc3",
        "cb81a322b5304d23"
      ]
    ]
  },
  {
    "id": "0b5cba5188254bc3",
    "type": "mqtt out",
    "name": "TB Telemetry",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "22a9abe2c0e842fb",
    "x": 600,
    "y": 80,
    "z": "0ded13af05dc4c3e",
    "wires": []
  },
  {
    "id": "cb81a322b5304d23",
    "type": "mqtt out",
    "name": "TB Attributes",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "22a9abe2c0e842fb",
    "x": 600,
    "y": 140,
    "z": "0ded13af05dc4c3e",
    "wires": []
  },
  {
    "id": "2ec16b78ce8e40af",
    "type": "tab",
    "label": "Floor 01 CoAP Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "972ea92274bc4381",
    "type": "inject",
    "name": "Start CoAP Observe",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 3,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 200,
    "z": "2ec16b78ce8e40af",
    "wires": [
      [
        "8ef50d82155a4698"
      ]
    ]
  },
  {
    "id": "8ef50d82155a4698",
    "type": "function",
    "name": "CoAP Observe f01 (rooms 011-020)",
    "func": "// CoAP Observe \u2192 ThingsBoard \u2014 Floor 01 (rooms 011-020)\n// Triggered once on startup; node.send() fires for every CoAP notification.\n// 'coap' is injected via the node's libs declaration (functionExternalModules: true).\n\nvar rooms = [\n    {pathname:'/f01/r111/telemetry', device:'b01-f01-r011'},\n    {pathname:'/f01/r112/telemetry', device:'b01-f01-r012'},\n    {pathname:'/f01/r113/telemetry', device:'b01-f01-r013'},\n    {pathname:'/f01/r114/telemetry', device:'b01-f01-r014'},\n    {pathname:'/f01/r115/telemetry', device:'b01-f01-r015'},\n    {pathname:'/f01/r116/telemetry', device:'b01-f01-r016'},\n    {pathname:'/f01/r117/telemetry', device:'b01-f01-r017'},\n    {pathname:'/f01/r118/telemetry', device:'b01-f01-r018'},\n    {pathname:'/f01/r119/telemetry', device:'b01-f01-r019'},\n    {pathname:'/f01/r120/telemetry', device:'b01-f01-r020'}\n];\n\nrooms.forEach(function(room) {\n    var req = coap.request({\n        hostname: 'simulator',\n        port: 5683,\n        pathname: room.pathname,\n        method: 'GET',\n        observe: true\n    });\n    req.on('response', function(res) {\n        res.on('data', function(data) {\n            try {\n                var d = JSON.parse(data.toString());\n                var ts = d.timestamp ? d.timestamp * 1000 : Date.now();\n                node.send({\n                    topic: 'v1/gateway/telemetry',\n                    payload: JSON.stringify({\n                        [room.device]: [{\n                            ts: ts,\n                            values: {\n                                temperature:     d.temperature,\n                                humidity:        d.humidity,\n                                occupancy:       d.occupancy,\n                                light_level:     d.light_level,\n                                hvac_mode:       d.hvac_mode,\n                                lighting_dimmer: d.lighting_dimmer,\n                                target_temp:     d.target_temp,\n                                fault:           d.fault\n                            }\n                        }]\n                    })\n                });\n            } catch(e) {}\n        });\n    });\n    req.on('error', function(e) {\n        node.error('CoAP ' + room.device + ': ' + e.message);\n    });\n    req.end();\n});\nreturn null;",
    "libs": [
      {
        "var": "coap",
        "module": "coap"
      }
    ],
    "outputs": 1,
    "x": 380,
    "y": 200,
    "z": "2ec16b78ce8e40af",
    "wires": [
      [
        "008a634e2d5c4d5e"
      ]
    ]
  },
  {
    "id": "008a634e2d5c4d5e",
    "type": "mqtt out",
    "name": "TB Telemetry (CoAP)",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "22a9abe2c0e842fb",
    "x": 620,
    "y": 200,
    "z": "2ec16b78ce8e40af",
    "wires": []
  }
]