gateways/floor-09/flows.json
[
  {
    "id": "945559bee5964fa3",
    "type": "tab",
    "label": "Floor 09 Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "34d17d98bfab4463",
    "type": "mqtt-broker",
    "name": "HiveMQ-f09",
    "broker": "hivemq",
    "port": "1883",
    "clientid": "nodered-gw-f09",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "credentials": {
      "user": "campus_observer",
      "password": "_uMOhpPMnOzCEZUpd_lIAtnZ2pYuOHDh"
    }
  },
  {
    "id": "bc19335465b14142",
    "type": "mqtt-broker",
    "name": "ThingsBoard-gw-f09",
    "broker": "thingsboard",
    "port": "1883",
    "clientid": "tb-gw-f09",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "credentials": {
      "user": "9YDBU4jyhGG9CA4wSm4R",
      "password": ""
    }
  },
  {
    "id": "0de1acae017349f8",
    "type": "mqtt in",
    "name": "HiveMQ f09",
    "topic": "campus/b01/f09/#",
    "qos": "0",
    "datatype": "auto",
    "broker": "34d17d98bfab4463",
    "x": 120,
    "y": 100,
    "z": "945559bee5964fa3",
    "wires": [
      [
        "c0df0493d1214100"
      ]
    ]
  },
  {
    "id": "c0df0493d1214100",
    "type": "function",
    "name": "Format \u2192 TB Gateway",
    "func": "// topic: campus/b01/f09/rNNN/telemetry|heartbeat|lwt\nvar parts = msg.topic.split('/');\n// parts: ['campus','b01','f09','rNNN','<type>']\nif (parts.length < 5) return null;\n\nvar roomNum     = parts[3];                                        // e.g. r109\nvar msgType     = parts[4];                                        // telemetry | heartbeat | lwt\nvar rawNum      = parseInt(roomNum.slice(1));                      // 109\nvar roomOnFloor = rawNum - 9 * 100;                         // 9\nvar roomStr     = 'r' + String(roomOnFloor).padStart(3, '0');     // \"r009\"\nvar device      = 'b01-f09-' + roomStr;                  // e.g. b01-f01-r009\n\nvar data;\ntry {\n    data = (typeof msg.payload === 'string') ? JSON.parse(msg.payload) : msg.payload;\n} catch(e) {\n    return null;\n}\n\nif (msgType === 'telemetry') {\n    // TB gateway telemetry format: { \"deviceName\": [{ \"ts\": ms, \"values\": {...} }] }\n    var ts = data.timestamp ? data.timestamp * 1000 : Date.now();\n    var values = {\n        temperature:      data.temperature,\n        humidity:         data.humidity,\n        occupancy:        data.occupancy,\n        light_level:      data.light_level,\n        hvac_mode:        data.hvac_mode,\n        lighting_dimmer:  data.lighting_dimmer,\n        target_temp:      data.target_temp,\n        fault:            data.fault\n    };\n    msg.payload = JSON.stringify({ [device]: [{ ts: ts, values: values }] });\n    msg.topic   = 'v1/gateway/telemetry';\n    msg.route   = 'telemetry';\n    return msg;\n}\n\nif (msgType === 'heartbeat') {\n    msg.payload = JSON.stringify({ [device]: { status: data.status || 'alive', last_seen: data.timestamp } });\n    msg.topic   = 'v1/gateway/attributes';\n    msg.route   = 'attr';\n    return msg;\n}\n\nif (msgType === 'lwt') {\n    msg.payload = JSON.stringify({ [device]: { status: 'offline' } });\n    msg.topic   = 'v1/gateway/attributes';\n    msg.route   = 'attr';\n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "x": 350,
    "y": 100,
    "z": "945559bee5964fa3",
    "wires": [
      [
        "ca66065640464043",
        "59a937519f864014"
      ]
    ]
  },
  {
    "id": "ca66065640464043",
    "type": "mqtt out",
    "name": "TB Telemetry",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "bc19335465b14142",
    "x": 600,
    "y": 80,
    "z": "945559bee5964fa3",
    "wires": []
  },
  {
    "id": "59a937519f864014",
    "type": "mqtt out",
    "name": "TB Attributes",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "bc19335465b14142",
    "x": 600,
    "y": 140,
    "z": "945559bee5964fa3",
    "wires": []
  },
  {
    "id": "2da5ec4e5b124012",
    "type": "tab",
    "label": "Floor 09 CoAP Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "09a2a140d3114b1a",
    "type": "inject",
    "name": "Start CoAP Observe",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 3,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 200,
    "z": "2da5ec4e5b124012",
    "wires": [
      [
        "c24e2b89ab1d43fc"
      ]
    ]
  },
  {
    "id": "c24e2b89ab1d43fc",
    "type": "function",
    "name": "CoAP Observe f09 (rooms 011-020)",
    "func": "// CoAP Observe \u2192 ThingsBoard \u2014 Floor 09 (rooms 011-020)\n// Triggered once on startup; node.send() fires for every CoAP notification.\n// 'coap' is injected via the node's libs declaration (functionExternalModules: true).\n\nvar rooms = [\n    {pathname:'/f09/r911/telemetry', device:'b01-f09-r011'},\n    {pathname:'/f09/r912/telemetry', device:'b01-f09-r012'},\n    {pathname:'/f09/r913/telemetry', device:'b01-f09-r013'},\n    {pathname:'/f09/r914/telemetry', device:'b01-f09-r014'},\n    {pathname:'/f09/r915/telemetry', device:'b01-f09-r015'},\n    {pathname:'/f09/r916/telemetry', device:'b01-f09-r016'},\n    {pathname:'/f09/r917/telemetry', device:'b01-f09-r017'},\n    {pathname:'/f09/r918/telemetry', device:'b01-f09-r018'},\n    {pathname:'/f09/r919/telemetry', device:'b01-f09-r019'},\n    {pathname:'/f09/r920/telemetry', device:'b01-f09-r020'}\n];\n\nrooms.forEach(function(room) {\n    var req = coap.request({\n        hostname: 'simulator',\n        port: 5683,\n        pathname: room.pathname,\n        method: 'GET',\n        observe: true\n    });\n    req.on('response', function(res) {\n        res.on('data', function(data) {\n            try {\n                var d = JSON.parse(data.toString());\n                var ts = d.timestamp ? d.timestamp * 1000 : Date.now();\n                node.send({\n                    topic: 'v1/gateway/telemetry',\n                    payload: JSON.stringify({\n                        [room.device]: [{\n                            ts: ts,\n                            values: {\n                                temperature:     d.temperature,\n                                humidity:        d.humidity,\n                                occupancy:       d.occupancy,\n                                light_level:     d.light_level,\n                                hvac_mode:       d.hvac_mode,\n                                lighting_dimmer: d.lighting_dimmer,\n                                target_temp:     d.target_temp,\n                                fault:           d.fault\n                            }\n                        }]\n                    })\n                });\n            } catch(e) {}\n        });\n    });\n    req.on('error', function(e) {\n        node.error('CoAP ' + room.device + ': ' + e.message);\n    });\n    req.end();\n});\nreturn null;",
    "libs": [
      {
        "var": "coap",
        "module": "coap"
      }
    ],
    "outputs": 1,
    "x": 380,
    "y": 200,
    "z": "2da5ec4e5b124012",
    "wires": [
      [
        "9124bb0d8ce84390"
      ]
    ]
  },
  {
    "id": "9124bb0d8ce84390",
    "type": "mqtt out",
    "name": "TB Telemetry (CoAP)",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "bc19335465b14142",
    "x": 620,
    "y": 200,
    "z": "2da5ec4e5b124012",
    "wires": []
  }
]