gateways/floor-05/flows.json
[
  {
    "id": "3983e649f72b433a",
    "type": "tab",
    "label": "Floor 05 Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ee39af2a422a4061",
    "type": "mqtt-broker",
    "name": "HiveMQ-f05",
    "broker": "hivemq",
    "port": "1883",
    "clientid": "nodered-gw-f05",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "credentials": {
      "user": "campus_observer",
      "password": "_uMOhpPMnOzCEZUpd_lIAtnZ2pYuOHDh"
    }
  },
  {
    "id": "7bc0e06ff20f4801",
    "type": "mqtt-broker",
    "name": "ThingsBoard-gw-f05",
    "broker": "thingsboard",
    "port": "1883",
    "clientid": "tb-gw-f05",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "credentials": {
      "user": "Tc5LvIejxy5UwvINAaOr",
      "password": ""
    }
  },
  {
    "id": "c1d9ac52add84a6a",
    "type": "mqtt in",
    "name": "HiveMQ f05",
    "topic": "campus/b01/f05/#",
    "qos": "0",
    "datatype": "auto",
    "broker": "ee39af2a422a4061",
    "x": 120,
    "y": 100,
    "z": "3983e649f72b433a",
    "wires": [
      [
        "ff99c596175340f0"
      ]
    ]
  },
  {
    "id": "ff99c596175340f0",
    "type": "function",
    "name": "Format \u2192 TB Gateway",
    "func": "// topic: campus/b01/f05/rNNN/telemetry|heartbeat|lwt\nvar parts = msg.topic.split('/');\n// parts: ['campus','b01','f05','rNNN','<type>']\nif (parts.length < 5) return null;\n\nvar roomNum     = parts[3];                                        // e.g. r109\nvar msgType     = parts[4];                                        // telemetry | heartbeat | lwt\nvar rawNum      = parseInt(roomNum.slice(1));                      // 109\nvar roomOnFloor = rawNum - 5 * 100;                         // 9\nvar roomStr     = 'r' + String(roomOnFloor).padStart(3, '0');     // \"r009\"\nvar device      = 'b01-f05-' + roomStr;                  // e.g. b01-f01-r009\n\nvar data;\ntry {\n    data = (typeof msg.payload === 'string') ? JSON.parse(msg.payload) : msg.payload;\n} catch(e) {\n    return null;\n}\n\nif (msgType === 'telemetry') {\n    // TB gateway telemetry format: { \"deviceName\": [{ \"ts\": ms, \"values\": {...} }] }\n    var ts = data.timestamp ? data.timestamp * 1000 : Date.now();\n    var values = {\n        temperature:      data.temperature,\n        humidity:         data.humidity,\n        occupancy:        data.occupancy,\n        light_level:      data.light_level,\n        hvac_mode:        data.hvac_mode,\n        lighting_dimmer:  data.lighting_dimmer,\n        target_temp:      data.target_temp,\n        fault:            data.fault\n    };\n    msg.payload = JSON.stringify({ [device]: [{ ts: ts, values: values }] });\n    msg.topic   = 'v1/gateway/telemetry';\n    msg.route   = 'telemetry';\n    return msg;\n}\n\nif (msgType === 'heartbeat') {\n    msg.payload = JSON.stringify({ [device]: { status: data.status || 'alive', last_seen: data.timestamp } });\n    msg.topic   = 'v1/gateway/attributes';\n    msg.route   = 'attr';\n    return msg;\n}\n\nif (msgType === 'lwt') {\n    msg.payload = JSON.stringify({ [device]: { status: 'offline' } });\n    msg.topic   = 'v1/gateway/attributes';\n    msg.route   = 'attr';\n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "x": 350,
    "y": 100,
    "z": "3983e649f72b433a",
    "wires": [
      [
        "7a85dc4c7bcc4b39",
        "ab8ad9c048cb440d"
      ]
    ]
  },
  {
    "id": "7a85dc4c7bcc4b39",
    "type": "mqtt out",
    "name": "TB Telemetry",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "7bc0e06ff20f4801",
    "x": 600,
    "y": 80,
    "z": "3983e649f72b433a",
    "wires": []
  },
  {
    "id": "ab8ad9c048cb440d",
    "type": "mqtt out",
    "name": "TB Attributes",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "7bc0e06ff20f4801",
    "x": 600,
    "y": 140,
    "z": "3983e649f72b433a",
    "wires": []
  },
  {
    "id": "a058eceec40c40f7",
    "type": "tab",
    "label": "Floor 05 CoAP Gateway",
    "disabled": false,
    "info": ""
  },
  {
    "id": "8bb1aa5316d2482a",
    "type": "inject",
    "name": "Start CoAP Observe",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 3,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 200,
    "z": "a058eceec40c40f7",
    "wires": [
      [
        "e56ad6a46de14594"
      ]
    ]
  },
  {
    "id": "e56ad6a46de14594",
    "type": "function",
    "name": "CoAP Observe f05 (rooms 011-020)",
    "func": "// CoAP Observe \u2192 ThingsBoard \u2014 Floor 05 (rooms 011-020)\n// Triggered once on startup; node.send() fires for every CoAP notification.\n// 'coap' is injected via the node's libs declaration (functionExternalModules: true).\n\nvar rooms = [\n    {pathname:'/f05/r511/telemetry', device:'b01-f05-r011'},\n    {pathname:'/f05/r512/telemetry', device:'b01-f05-r012'},\n    {pathname:'/f05/r513/telemetry', device:'b01-f05-r013'},\n    {pathname:'/f05/r514/telemetry', device:'b01-f05-r014'},\n    {pathname:'/f05/r515/telemetry', device:'b01-f05-r015'},\n    {pathname:'/f05/r516/telemetry', device:'b01-f05-r016'},\n    {pathname:'/f05/r517/telemetry', device:'b01-f05-r017'},\n    {pathname:'/f05/r518/telemetry', device:'b01-f05-r018'},\n    {pathname:'/f05/r519/telemetry', device:'b01-f05-r019'},\n    {pathname:'/f05/r520/telemetry', device:'b01-f05-r020'}\n];\n\nrooms.forEach(function(room) {\n    var req = coap.request({\n        hostname: 'simulator',\n        port: 5683,\n        pathname: room.pathname,\n        method: 'GET',\n        observe: true\n    });\n    req.on('response', function(res) {\n        res.on('data', function(data) {\n            try {\n                var d = JSON.parse(data.toString());\n                var ts = d.timestamp ? d.timestamp * 1000 : Date.now();\n                node.send({\n                    topic: 'v1/gateway/telemetry',\n                    payload: JSON.stringify({\n                        [room.device]: [{\n                            ts: ts,\n                            values: {\n                                temperature:     d.temperature,\n                                humidity:        d.humidity,\n                                occupancy:       d.occupancy,\n                                light_level:     d.light_level,\n                                hvac_mode:       d.hvac_mode,\n                                lighting_dimmer: d.lighting_dimmer,\n                                target_temp:     d.target_temp,\n                                fault:           d.fault\n                            }\n                        }]\n                    })\n                });\n            } catch(e) {}\n        });\n    });\n    req.on('error', function(e) {\n        node.error('CoAP ' + room.device + ': ' + e.message);\n    });\n    req.end();\n});\nreturn null;",
    "libs": [
      {
        "var": "coap",
        "module": "coap"
      }
    ],
    "outputs": 1,
    "x": 380,
    "y": 200,
    "z": "a058eceec40c40f7",
    "wires": [
      [
        "01c5bbf226f74f1f"
      ]
    ]
  },
  {
    "id": "01c5bbf226f74f1f",
    "type": "mqtt out",
    "name": "TB Telemetry (CoAP)",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "7bc0e06ff20f4801",
    "x": 620,
    "y": 200,
    "z": "a058eceec40c40f7",
    "wires": []
  }
]